.app-header {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  background: #ffffff;
}

.app-header .profile-img-block {
  width: 80px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: #93b4bc;
}

.app-header .profile-img-block .profile-img-wrap {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
}

.app-header .menu-wrap {
  padding: 24px 45px;
  display: flex;
  align-items: center;
  align-content: center;
}

.app-header .menu-wrap .logo-block .logo-wrap {
  display: block;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #444444;
}

.app-header .menu-wrap .logo-block .logo-wrap span {
  color: #454664;
}
